<!--
    SIDE BAR
-->
<div class="col-sm-3 col-md-2 sidebar">
        
    <label for="season-dropdown">Season:</label>

    <div class="dropdown" id="season-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">2017/18
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">2017/18</a></li>
        <li><a href="#">2016/17</a></li>
        <li><a href="#">2015/16</a></li>
    </ul>
    </div>

    <hr />

    <div class="panel-group toggle-accordion" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default ">
        <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Premier League
            </a>
        </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">AFC Bournemouth</li>
            <li class="list-group-item">Arsenal</li>
            <li class="list-group-item">Brighton &amp; Hove Albion</li>
            <li class="list-group-item">Burnley</li>
            <li class="list-group-item">Chelsea</li>
            <li class="list-group-item">Crystal Palace</li>
            <li class="list-group-item">Everton</li>
            <li class="list-group-item">Huddersfield Town</li>
            <li class="list-group-item">Leicester City</li>
            <li class="list-group-item">Liverpool</li>
            <li class="list-group-item">Manchester City</li>
            <li class="list-group-item">Manchester United</li>
            <li class="list-group-item">Newcastle United</li>
            <li class="list-group-item">Southampton</li>
            <li class="list-group-item">Stoke City</li>
            <li class="list-group-item">Swansea City</li>
            <li class="list-group-item">Tottenham Hotspur</li>
            <li class="list-group-item">Watford</li>
            <li class="list-group-item">West Bromwich Albion</li>
            <li class="list-group-item">West Ham United</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Championship
            </a>
        </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">Aston Villa</li>
            <li class="list-group-item">Barnsley</li>
            <li class="list-group-item">Birmingham City</li>
            <li class="list-group-item">Bolton Wanderers</li>
            <li class="list-group-item">Brentford</li>
            <li class="list-group-item">Bristol City</li>
            <li class="list-group-item">Burton Albion</li>
            <li class="list-group-item">Cardiff City</li>
            <li class="list-group-item">Derby County</li>
            <li class="list-group-item">Fulham</li>
            <li class="list-group-item">Hull City</li>
            <li class="list-group-item">Ipswich Town</li>
            <li class="list-group-item">Leeds United</li>
            <li class="list-group-item">Middlesbrough</li>
            <li class="list-group-item">Millwall</li>
            <li class="list-group-item">Norwich City</li>
            <li class="list-group-item">Nottingham Forest</li>
            <li class="list-group-item">Preston North End</li>
            <li class="list-group-item">Queens Park Rangers</li>
            <li class="list-group-item">Reading</li>
            <li class="list-group-item">Sheffield United</li>
            <li class="list-group-item">Sheffield Wednesday</li>
            <li class="list-group-item">Sunderland</li>
            <li class="list-group-item">Wolverhampton Wanderers</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
            League One
            </a>
        </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
        <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">AFC Wimbledon</li>
            <li class="list-group-item">Blackburn Rovers</li>
            <li class="list-group-item">Blackpool</li>
            <li class="list-group-item">Bradford City</li>
            <li class="list-group-item">Bristol Rovers</li>
            <li class="list-group-item">Bury</li>
            <li class="list-group-item">Charlton Athletic</li>
            <li class="list-group-item">Doncaster Rovers</li>
            <li class="list-group-item">Fleetwood Town</li>
            <li class="list-group-item">Gillingham</li>
            <li class="list-group-item">Milton Keynes Dons</li>
            <li class="list-group-item">Northampton Town</li>
            <li class="list-group-item">Oldham Athletic</li>
            <li class="list-group-item">Oxford United</li>
            <li class="list-group-item">Peterborough United</li>
            <li class="list-group-item">Plymouth Argyle</li>
            <li class="list-group-item">Portsmouth</li>
            <li class="list-group-item">Rochdale</li>
            <li class="list-group-item">Rotherham United</li>
            <li class="list-group-item">Scunthorpe United</li>
            <li class="list-group-item">Shrewsbury Town</li>
            <li class="list-group-item">Southend United</li>
            <li class="list-group-item">Wallsall</li>
            <li class="list-group-item">Wigan Athletic</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
            League Two
            </a>
        </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">Accrington Stanley</li>
            <li class="list-group-item">Barnet</li>
            <li class="list-group-item">Cambridge United</li>
            <li class="list-group-item">Carlisle United</li>
            <li class="list-group-item">Cheltenham Town</li>
            <li class="list-group-item">Chesterfield</li>
            <li class="list-group-item">Colchester United</li>
            <li class="list-group-item">Coventry City</li>
            <li class="list-group-item">Crawley Town</li>
            <li class="list-group-item">Crewe Alexandra</li>
            <li class="list-group-item">Exeter City</li>
            <li class="list-group-item">Forest Green Rovers</li>
            <li class="list-group-item">Grimsby Town</li>
            <li class="list-group-item">Licoln City</li>
            <li class="list-group-item">Luton Town</li>
            <li class="list-group-item">Mansfield Town</li>
            <li class="list-group-item">Morecambe</li>
            <li class="list-group-item">Newport County</li>
            <li class="list-group-item">Notts County</li>
            <li class="list-group-item">Port Vale</li>
            <li class="list-group-item">Stevenage</li>
            <li class="list-group-item">Swindon Town</li>
            <li class="list-group-item">Wycombe Wanderers</li>
            <li class="list-group-item">Yeovil Town</li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>
        