<!--
    SIDE BAR
-->
<div class="col-sm-3 col-md-2 sidebar">
        
    <label for="season-dropdown">Season:</label>

    <div class="dropdown" id="season-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectedSeason ? selectedSeason.id : 'None'}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li *ngFor="let season of seasons" [class.selected]="season === selectedSeason" (click)="onSelect(season)">
            <a href="#">{{season.id}}</a>
        </li>
    </ul>
    </div>

    <hr />

    <div class="panel-group toggle-accordion" id="accordion" role="tablist" aria-multiselectable="false">


        <div class="panel" [ngClass]="{'panel-primary' : seasonDivision == selectedDivision, 'panel-default' : seasonDivision != selectedDivision}" *ngFor="let seasonDivision of divisionsForSelectedSeason">
            <div class="panel-heading" role="tab" id="heading{{seasonDivision.attributes.position}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{seasonDivision.attributes.position}}" (click)="onSelectDivision(seasonDivision)">
                        {{seasonDivision.relationships.division.data.name}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{seasonDivision.attributes.position}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        <li *ngFor="let team of seasonDivision.relationships.teams.data" class="list-group-item"
                          (click)="onSelectTeam(team)"
                          [ngClass]="{'active' : team == selectedTeam}">{{team.attributes.teamName}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        