<!--
DATE ANALYSIS BODY
-->
<div class="panel panel-primary">
    <div class="panel-heading clearfix" id="rheading1">
        <h4 class="panel-title ">
            <a data-toggle="collapse" data-parent="#body-accordion" href="#rcollapse1" class="pull-left">
            Date Analysis
            </a>
            <span class="pull-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class='input-group date pull-left' style="width: 170px;" id='datetimepicker1'>
                <input type='text' class="form-control input-xsm" data-provide="datepicker" style="height: 24px;" />
                <span class="input-group-addon input-sm" style="height: 24px;">
                    <small><span class="glyphicon glyphicon-calendar"></span></small>
                </span>
            </div>


            <div class="btn-group btn-group-panel-hdr pull-right">
                <a id="league-table-button" href="#" class="btn btn-default btn-md btn-panel-hdr active">Table</a>
                <a id="fixtures-button" href="#" class="btn btn-default btn-md btn-panel-hdr">Fixtures</a>
            </div>
        </h4>

    </div>

    <div id="rcollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="rheading1">
        <div class="panel-body main-panel-body">


            <div id="league-table">
                <h4>Premier League Table</h4>
                <div class="table-responsive">
                    <table class="table table-striped" style="font-size: 11px;">
                        <thead>
                            <tr>
                                <th>Pos</th>
                                <th>Team</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Portsmouth</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Arsenal</td>
                                <td>97</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Millwall</td>
                                <td>78</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Southampton</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="fixtures" class="collapse">
                <h4>Premier League Fixtures</h4>
                <h5>Wed 25/10/2017</h5>
                <div class="table-responsive">
                    <table class="table table-striped" style="font-size: 11px;">
                        <tbody>
                            <tr>
                                <td>Portsmouth</td>
                                <td>3</td>
                                <td>-</td>
                                <td>0</td>
                                <td>Southampton</td>
                            </tr>
                            <tr>
                                <td>Arsenal</td>
                                <td>1</td>
                                <td>-</td>
                                <td>1</td>
                                <td>Chelsea</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>Sat 28/10/2017</h5>
                <div class="table-responsive">
                    <table class="table table-striped" style="font-size: 11px;">
                        <tbody>
                            <tr>
                                <td>Portsmouth</td>
                                <td></td>
                                <td>v</td>
                                <td></td>
                                <td>Arsenal</td>
                            </tr>
                            <tr>
                                <td>Chelsea</td>
                                <td></td>
                                <td>v</td>
                                <td></td>
                                <td>Southampton</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>