
<top-nav></top-nav>

<div class="container-fluid">
  <div class="row">
    <side-bar></side-bar>

    <div id="main-body" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-group toggle-accordion" id="body-accordion">
            <date-analysis></date-analysis>
            <fixture-analysis></fixture-analysis>
            <summary-analysis></summary-analysis>
          </div>
        </div>
      </div>
    </div>
  </div>