/*body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
	font-size: 12px;
}*/

body { padding-top: 50px; }

#datepicker-li {
  padding: 5px 15px;
  line-height: 50px;
}
